@import url("https://fonts.googleapis.com/css?family=Roboto:100,300");
.worldTime {
  justify-content: flex-end;
  align-items: stretch; }

.currentTime {
  color: white;
  font-size: 180px;
  text-align: center;
  margin: 18vh 0 1vh 0;
  font-family: "Century Gothic", "arial", "sans-serif"; }

.currentDate {
  color: white;
  height: 50px;
  margin: 0;
  font-family: "Corbel", "Verdana", "Arial", "Comic Sans";
  text-align: center;
  font-size: 30px; }

.fab {
  height: 100px;
  width: 100px;
  background-color: #ff0080;
  border-radius: 50%;
  margin: 0 auto; }

.half-w {
  width: 50%; }

.op {
  opacity: 1; }

.city-search {
  width: 40%;
  background-color: rgba(250, 250, 250, 0.205);
  height: 50px;
  float: right;
  border: none;
  display: none;
  padding: 0 20px;
  font-size: 30px;
  color: white;
  font-family: "Corbel", "Verdana", "Arial", "Comic Sans";
  border-radius: 25px;
  margin-top: -70vh;
  margin-right: 2vw; }

button[data-setter] {
  outline: none;
  background: transparent;
  border: none;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 25px;
  width: 40px;
  height: 30px;
  color: white;
  cursor: pointer; }

button[data-setter]:hover {
  opacity: 0.5; }

.timer-container {
  position: relative;
  width: 400px;
  margin: 5vh auto; }

.setters {
  position: absolute;
  left: 95px;
  top: 75px; }

.minutes-set {
  float: left;
  margin-right: 28px; }

.seconds-set {
  float: right; }

.controlls {
  position: absolute;
  left: 50px;
  top: 105px;
  text-align: center; }

.display-remain-time {
  font-family: "Century Gothic", "Verdana", "Arial", "Comic Sans";
  font-weight: 100;
  font-size: 120px;
  color: white; }

#pause {
  outline: none;
  background: transparent;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: relative; }

.play::before {
  display: block;
  content: "";
  position: absolute;
  top: 8px;
  left: 16px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 22px solid #ff0080; }

.timer-circle svg {
  margin: auto auto; }

.pause::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 12px;
  width: 15px;
  height: 30px;
  background-color: transparent;
  border-radius: 1px;
  border: 5px solid #ff0080;
  border-top: none;
  border-bottom: none; }

#pause:hover {
  opacity: 0.8; }

.e-c-base {
  fill: none;
  stroke: white;
  stroke-width: 10px; }

.e-c-progress {
  fill: none;
  stroke: white;
  stroke-width: 10px;
  transition: stroke-dashoffset 0.7s; }

.e-c-pointer {
  fill: #ff0080;
  stroke-width: 2px; }

#e-pointer {
  transition: transform 0.7s; }

.s-watch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.clockwrapper {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 15px solid #ffffff;
  border-radius: 50%;
  width: 50vh;
  height: 50vh;
  font-family: "Century Gothic", "Verdana", "Arial", "Comic Sans";
  color: #ffffff;
  font-size: 80px; }

.btn {
  font-weight: 700;
  transition: opacity 150ms ease-out;
  opacity: 1;
  background-color: #ff0080;
  border-radius: 50%;
  display: block;
  width: 100px;
  height: 100px;
  margin-top: 2vh;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer; }

.stop,
.lap {
  color: white;
  font-size: 40px;
  font-family: "Corbel", "Verdana", "Arial", "Comic Sans";
  cursor: pointer;
  line-height: 100px;
  text-align: center; }

.controls {
  width: 100%;
  display: grid;
  grid-template-columns: 45% 10% 45%; }

.laps-list {
  position: absolute;
  right: 10%;
  top: 10%; }

.laps-list > ol {
  color: white;
  font-family: "Century Gothic", "Verdana", "Arial", "Comic Sans";
  font-size: 40px; }

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(50deg, blue 0%, black 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, blue), color-stop(100%, black));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(50deg, blue 0%, black 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(50deg, blue 0%, black 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(50deg, blue 0%, black 100%);
  /* ie10+ */
  background: linear-gradient(40deg, blue 0%, black 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0000ff',GradientType=0 );
  /* ie6-9 */ }

.flex {
  display: flex; }

svg {
  fill: white;
  margin: 1vw; }

.page {
  height: 100%; }

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 10vw; }
  .menu-container .menu-item {
    background-color: rgba(250, 250, 250, 0.205);
    border-radius: 40px;
    margin-bottom: 1vw;
    margin-left: 2vw;
    height: 10vw;
    width: 100%;
    cursor: pointer; }
  .menu-container .description {
    color: white;
    font-family: "Corbel", "Verdana", "Arial", "Comic Sans";
    text-align: center;
    margin-top: -2vw;
    margin-left: -1vw; }

.picked-container {
  box-shadow: 15px 16px 50px 0px rgba(0, 0, 0, 0.75);
  background-color: #292ce7;
  width: 80vw;
  margin: 5vw;
  border-radius: 100px; }
